<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
            <form>
                <div class="form-group">
                    <label for="formControlSelectPrueba">Gráficas:</label>
                    <select class="form-control" id="formControlSelectPrueba" (change)="onChartChange($event)" > 
                        <option value="1">Dias por Procedimiento</option>
                        <option value="2">Cantidad por Tipos de procedimiento</option>
                        <option value="3">Monto por Adjudicatario</option>
                        <option value="4">Dias por Procedimiento 2</option> 
                    </select>
                </div>
            </form>
            <button class="btn btn-outline-danger" (click)="onDownload()" >Descargar PDF</button>
        </div> 
        <div [ngSwitch]="vista" id="chartContainer" class="col-sm-8 text-center">
            <div *ngSwitchCase="1">
                <h5 class="chartTitle">CANTIDAD DE DIAS POR PROCEDIMIENTO</h5>
                <app-chart1 *ngSwitchCase="1"></app-chart1>  <!--Dias por procedimiento-->
            </div>
            <div *ngSwitchCase="2">
                <h5 class="chartTitle">CANTIDAD POR TIPO DE PROCEDIMIENTO</h5>
                <app-chart2 ></app-chart2>  <!--Cantidad por Tipos de procedimiento-->
            </div> 
            <div *ngSwitchCase="3">
                <h5 class="chartTitle">MONTO POR ADJUDICATARIO</h5>
                <app-chart3 ></app-chart3>  <!--Monto Por Adjudicatario-->
            </div>
            <div *ngSwitchCase="4">
                <h5 class="chartTitle">CANTIDAD DE DIAS POR PROCEDIMIENTO 2</h5>
                <app-chart4></app-chart4>  <!--Dias por procedimiento -->
            </div> 
        </div>   
    </div>

</div>

